<ion-view view-title="Biologia">
  <ion-content class="padding">
   <center> <h2>BIENVENIDOS</h2>
    <img class="P"  src="img/portada.png">
    <p>integrantes</p>
    <h3>ASTRID YULEISY GOMEZ PUAC </h3> <img class="img"  src="img/04.jpg">
    <h4>MILDRED STEPHANY LIMA TAMBITO</h4> <img class="img"  src="img/02.jpg">
    <h5>EDWIN ALESSANDRO DONIS FUENTES</h5><img class="img"  src="img/01.jpg">
    <h6>EDSON NEHEMIAS LUX MORALES </h6><img class="img"  src="img/03.jpg">
    <h7>PABLO OTTONIEL MONTERROSO HERNÁNDEZ </h7><img class="img"  src="img/05.jpeg"></center>

    
  </ion-content>
</ion-view>
