*{ background: #000000;
    
}


.vid{
	width: 100%;
	height: 500px;

}
ion-content{
	background: #dadddf;
}

.cuadroCategoria {
	padding: 10px;
}

.cuadro {
	border: 1px solid black;
	border-radius: 5px;
	height: 150px
}
.img{
	width:250px;
	height: 150px;
	border:2px solid red;
	border-radius: 5px;
}
.galeria{
	width:250px;
	height: 150px;
	border:2px solid red;
	border-radius: 5px;
}
.v{
	width:150px;
	height: 150px;
	border:2px solid red;
	border-radius: 5px;
	border: 1px solid black;
	
}
.P{
	width:200px;
	height: 200px;
	border:2px solid red;
	border-radius: 10px;
	border: 1px solid black;
	
}
 .Vista-ADN {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.canvas {
  max-width: 100%;
}